/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Font
-----------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


/* ----------------------------------------------------------------
	General CSS
-----------------------------------------------------------------*/

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/

#primary-menu {
    background-color: #353C4B;
}

#primary-menu ul li > a {
    text-transform: capitalize;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

#header.sticky-style-2 #header-wrap {
    background-color: #353C4B;
    color: #FFFFFF;
}


@media (min-width: 992px){
	#primary-menu .container {
	    display: flex;
	    justify-content: center;
	}
}